html, body { padding: 0; margin: 0; }
* { box-sizing: border-box; }
#root { min-height:100vh; }

.menu-item a {
  color: var(--accent2-color);
}

.menu-item a:hover {
  color: var(--primary-color);
}

header {
	position: relative; 

	#header-section {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	.panelMenuButton, #panelMenuButton {
		display: none;
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 5;
	}
	#logo {
		height: 150px;
		width: auto;
		object-fit: contain;
	}
}

.modal-content {
    margin: 5% auto;
    max-width: 95%;
}




/* ===== GLOBAL TILE STYLES ====== */

.tiles-container, .tile-container, .tile {
    margin: 5px;
}

.tile.caption .tile-image-overlay {
    height: 140px !important;
}

.tile.caption .tile-image-overlay-title {
    font-size: var(--font-size4);
}


/* ===== HOME PAGE STYLES ====== */

.hero h1, .hero h2 {

	color: white;
	text-shadow:
		-1px 1px 1px black,
		1px 1px 1px black,
		1px -1px 1px black,
		-1px -1px 1px black,
		-1px 1px 5px black,
		1px 1px 5px black,
		1px -1px 5px black,
		-1px -1px 5px black;
}