html, body { padding: 0; margin: 0; }
* { box-sizing: border-box; }
#root { min-height:100vh; }

.menu-item a {
  color: var(--accent2-color);
}

.menu-item a:hover {
  color: var(--primary-color);
}

header {
	position: relative; 

	#header-section {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	.panelMenuButton, #panelMenuButton {
		display: none;
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 5;
	}
	#logo {
		height: 150px;
		width: auto;
		object-fit: contain;
	}
}
